name: tissaia_ui
description: Necro OS UI
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: '>=3.0.0 <4.0.0'
dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  provider: ^6.1.1
  google_fonts: ^6.1.0
  file_picker: ^8.0.0
  desktop_drop: ^0.4.4
  animate_do: ^3.3.4
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
flutter:
  uses-material-design: true